@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(244, 244, 245);
}

a {
    text-decoration: none;
}

.header {
    height: 84px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 4%;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background-color: white;
}

.home-container {
    width: 160px;
}

.home-anchor {
    color: #4468c9;
    font-family: sans-serif;
}

.hotel-name-header {
    color: #8d7535;
}

.my-account-anchor {
    height: 46px;
    width: 160px;
    background-color: #4468c9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 12px;
}


/* body content styling */

.content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 30px 16px;
    max-width: 90rem;
    gap: 30px;
}

.content-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-family: sans-serif;
    max-width: 66.6666%;
    flex-grow: 2;
}

.content-left h1 {
    margin: 10px 0px;
    width: 100%;
    text-align: center;
}

.content-left > p {
    font-size: 12px;
    margin-bottom: 28px;
    color: rgb(110, 110, 110);
    width: 100%;
    text-align: center;
}

.num-of-room-container {
    display: block;
    width: 100%;
}

.num-of-room-container > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 32px;
}

.room-containers {
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: 1px solid rgb(204, 204, 204);
    padding: 18px 22px;
    border-radius: 6px;
    margin: 8px 0px;
    width:inherit;
    flex-basis: 100%;
    background-color: white;
    box-shadow: 1px 1px 4px 1px rgb(204, 204, 204);
}

.room-containers > img {
    min-width: 320px;
    width: 100%;
    max-width: 346px;
    height: 240px;
    object-fit: cover;
    border-radius: 6px;
}

.room-booking-right-container {
    width: 100%;
    height: 100%;
}

.room-booking-right-container h2 {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    line-height: 28px;
    color: rgb(87, 87, 87);
    text-wrap: balance;
    font-size: 20px;
    margin-bottom: 18px;
    display: block;
}

.bed-size {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
}

.room-info span{
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 3px;
    background-color: #eaedf5;
    color: #3d4892;;
}

.room-info span sup {
    font-size: 8px;
}

.room-rate-container {
    background-color: rgb(244, 244, 245);
    padding: 16px 12px;
    text-align: end;
    border-radius: 10px;
}

.content-right {
    min-width: 280px;
    flex-grow: 1;
}

.room-pricing-container {
    width: 100%;
    
}